<div class="home">
    <div class="text-box">
        <h5 class="heading-primary">
            <span class="heading-primary-main">Medidor de energía trifasico </span>
            <br>
            <span class="heading-primary-sub">Implementación del estandar IEEE 1459 del 2010 para medición de cargas
                desbalanceadas,
                con el fin de tener una referencia de error en las mediciones actuales.</span>
        </h5>
        <a routerLink="/graph" routerLinkActive="active" class="btn btn-white">Empezar</a>
    </div>
</div>
